# Для запросов, которые делает сервер (SSR)
API_BASE_URL=http://127.0.0.1:8000
IMAGE_BASE_URL=http://127.0.0.1:8000

# Для запросов из браузера (если есть fetch на клиенте)
PUBLIC_API_URL=http://127.0.0.1:8000

# Секретный ключ (без PUBLIC_, чтобы не улетел в браузер)
PROJECT_KEY=your_secret_key_here