{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 200,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-astro", 
    "prettier-plugin-tailwindcss", 
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.svg",
      "options": {
        "parser": "xml",
        "xmlSelfClosing": true,
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}